/* ----------------------------------- */
body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 20%;
    height: 500px;
    border-radius: 7px;
    box-shadow: 2px 5px #888888;
    background-color: rgb(127, 192, 192);
    cursor: pointer;
    transition: transform 4s ease, box-shadow 0.2s ease;
}
h1,h2,h3,img{
    padding-top: 20px;
}
.container:hover{
    width: 25%;
    height: 550px;
    transform: scale(1.03);
    box-shadow: 10px 6px 10px #888888;
}
/* .empty-div{
    background-color: antiquewhite;
} */

